<%- include('partials/header'); -%>
    <br><br><br><br><br><br><br><br><br>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- <% if(locals.message){ %>
        <div class="alert alert-success" role="alert">
            <strong>Well done!</strong> <%=message.success%>
        </div>
    <% } %> -->

    <% if(typeof(mess) != 'undefined' && mess != '') { %>
    <div style="padding: 10px; width: 100%; border-radius: 4px; background-color: #98c4ff; color: #006eff">
        <%- mess %>
    </div>
    <% } %>

    <form action="/auth/send_mail" method="POST">
        <input name="mail" placeholder="Mail của bạn..." required>
        <button type="submit">Gửi</button>
    </form>

<%- include('partials/footer'); -%>