<%- include('partials/header'); -%>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <div style="margin-top: 100px;">
        <a class="nav-link active" aria-current="page" href="#"><%= username %></a>
        <form action="/poststatus" method="POST" enctype="multipart/form-data">
            <div class="form-group mt-4">
                <input type="text" class="form-control" id="content" placeholder="Content" name="content">
            </div>
            <div class="custom-file mt-4">
                <input type="file" class="custom-file-input" id="imageFile" name="imageFile">
            </div>
            <button type="submit" class="btn btn-primary mt-4">Post</button>
        </form>
    </div>


  
    <!-- add bai viet vao day -->
    <div id="newsfeed"></div>

    <!-- load truoc 1 page -->
    <div id="auto" style="margin-top: 100px;" onclick="loadPage(<%= total %>)"></div>

    

    <script>

        var maxPage = 1;
        var currentPage = maxPage;

// event scroll down
        $(window).scroll(function() {
            if($(window).scrollTop() + $(window).height() == $(document).height()) {
                loadPage(currentPage - 1);
            }
        });


// load truoc page 1
        $(document).ready(function () {
            $("#auto").trigger('click');
        });

        function getCookie(cname) {
            let name = cname + "=";
            let decodedCookie = decodeURIComponent(document.cookie);
            let ca = decodedCookie.split(';');
            for(let i = 0; i <ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
            }
            return "";
        }
        
// phan trang
        function abc(abc){
            alert(abc)
        }

        
        function loadPage(page){

            if(page < 1){ 
                return;
            }

            currentPage = page;
            console.log(currentPage);

            if(page > maxPage){
                maxPage = page;
            }
            
            
            $.ajax({
                url: '/api/newsfeed?page=' + page,
                type: 'GET'
            })
            .then(data => {
                console.log(data);
                var userName = getCookie('username');
                for(let i = data.newsfeed.length - 1 ; i >= 0; i--){
                    var item;
                    var idOnClick = data.newsfeed[i]._id;
                    if(data.newsfeed[i].url){
                        item = $(`
                            <div class="card mt-4" style="width: 40rem; margin-left: 200px;" id="${data.newsfeed[i]._id}cmt">
                            <img src="/image/${data.newsfeed[i].url}" class="card-img-top" alt="..." width="500px" height="500px">
                            <div class="card-body">
                            <h5 class="card-title">${data.newsfeed[i].user}</h5>
                            <p class="card-text">${data.newsfeed[i].content}</p>
                            <a href="#" id="${data.newsfeed[i]._id}" class="btn btn-primary" onclick="likeStatus(\'${data.newsfeed[i]._id}\')">Like<h3>${data.newsfeed[i].like.length}</h3></a>
                            
                            <div class="row g-3 mt-4">
                                <div class="col-auto">
                                    <label for="inputPassword2" class="visually-hidden">Comment</label>
                                    <input type="text" class="form-control" placeholder="Comment" style="width: 450px;" id="cmt${data.newsfeed[i]._id}">
                                </div>
                                <div class="col-auto">
                                    <button type="submit" class="btn btn-primary mb-3" onclick="cmtStatus(\'${data.newsfeed[i]._id}\')">Comment</button>
                                </div>
                            </div>

                            <a href="#" id="viewcmt${data.newsfeed[i]._id}" onclick="getComment(\'${data.newsfeed[i]._id}\')">View Comment</a>
                            </div>
                            </div>
                        `)
                    }
                    else{
                        item = $(`
                            <div class="card mt-4" style="width: 40rem; margin-left: 200px;" id="${data.newsfeed[i]._id}cmt">
                            <div class="card-body">
                            <h5 class="card-title">${data.newsfeed[i].user}</h5>
                            <p class="card-text">${data.newsfeed[i].content}</p>
                            <a href="#" id="${data.newsfeed[i]._id}" class="btn btn-primary" onclick="likeStatus(\'${data.newsfeed[i]._id}\')">Like<h3>${data.newsfeed[i].like.length}</h3></a>

                            <div class="row g-3 mt-4">
                                <div class="col-auto">
                                    <label for="inputPassword2" class="visually-hidden">Comment</label>
                                    <input type="text" class="form-control" placeholder="Comment" style="width: 450px;" id="cmt${data.newsfeed[i]._id}">
                                </div>
                                <div class="col-auto">
                                    <button type="submit" class="btn btn-primary mb-3" onclick="cmtStatus(\'${data.newsfeed[i]._id}\')">Comment</button>
                                </div>
                            </div>

                            <a href="#" id="viewcmt${data.newsfeed[i]._id}" onclick="getComment(\'${data.newsfeed[i]._id}\')">View Comment</a>
                            </div>
                            </div>
                        `)
                    }

                    
                    // $('.btn-post').attr('onclick', 'abc()');
                    // $('.btn-post').click(abc(idOnClick));
                    $('#newsfeed').append(item);
                    
                }
            })
            .catch(error => {
                console.log(error);
                console.log('api error');
            })
        }

        

        function likeStatus(idOnClick){
// disable auto scroll top https://stackoverflow.com/questions/26282932/prevent-auto-scrolling-down-jquery
            event.preventDefault();
            $.ajax({
            url: '/api/like/' + idOnClick +'/' + getCookie('username'), 
            type: 'GET',
            })
            .then(data => {
                console.log(data);
                if(data.message != "fail"){
                    $('#'+ idOnClick +'').html('Like<h3>'+ data.like +'</h3>');
                }
            })
            .catch(error => {
                console.log(error);
            })
        }

        function cmtStatus(idOnClick){
            event.preventDefault();
            // $('#'+ idOnClick +'' + 'cmt').append('<input type="text" class="form-control" id="comment" placeholder="Comment">')

            $.ajax({
            url: '/api/comment/' + idOnClick +'/' + getCookie('username'),
            type: 'POST',
            data: {
                comment: $('#cmt'+idOnClick+'').val()
            }
            })
            .then(data => {
                console.log(data);
                if(data != "comment fail"){
                    $('#viewcmt' + idOnClick +'').append('<input type="text" class="form-control" placeholder="'+ $('#cmt'+idOnClick+'').val() +'">')
                    $('#cmt'+ idOnClick +'').val('')
                }
            })
            .catch(error => {
                console.log(error);
            })
        }


        var pageComment = 0;
        var pageCommentMax = 1;
        var currentID = "quyetsama";

        function getComment(idOnClick){

            event.preventDefault();
            console.log("getcmt", pageComment, pageCommentMax);

            
            if(currentID != idOnClick){
                currentID = idOnClick;
                pageComment = 0;
            }

            pageComment++;

            if(pageComment > pageCommentMax){
                return;
            }

            
            // $('#'+ idOnClick +'' + 'cmt').append('<input type="text" class="form-control" id="comment" placeholder="Comment">')

            $.ajax({
            url: '/api/comment/' + idOnClick + '?page=' + pageComment,
            type: 'GET'
            })
            .then(data => {
                console.log(data);
                if(data.message != "fail"){
                    pageCommentMax = data.total;
                    for(var i = 0 ;i < data.comment.length; i++){
                        $('#viewcmt' + idOnClick +'').append('<input type="text" class="form-control" placeholder="'+ data.comment[i].comment +'">')
                    }
                    
                }
            })
            .catch(error => {
                console.log(error);
            })
        }


        

    </script>

    
<%- include('partials/footer'); -%>